html, body, form {
    height: 100%;
    overflow: hidden;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
}

#login {
    padding: 20px;
    border: 1px solid black;
}

#login div {
    overflow: auto;
}

#login input {
    float: right;
}

button {
    clear: both;
}

.message {
    color: red;
}

.centered-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.requirements-message {
    color: red;
    text-align: center;
    margin: 10px 0;
    font-weight: bold;
}